<div>
    <nav class="navbar navbar-expand-lg bg-secondary-subtle">
        <div class="container-fluid">
          <a class="navbar-brand fs-1" routerLink="samples">Bernbaum's Bio Bank</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link fs-3" routerLink="my-requests">My Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="shopping-cart">
                  <i class="bi bi-cart fs-1"></i>
                  <span class="badge bg-danger fs-6">{{ (cartSvc.cart| keyvalue).length ? (cartSvc.cart| keyvalue).length : null }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <main class="container-fluid">
        <router-outlet />
    </main>
</div>