<div class="d-flex-column">
    <h1>Open Requests</h1>
    @for (request of myRequests; track request.properties.id) {
        <div class="requestContainer card border-2 border-dark-subtle col-12 col-md-8 col-lg-5 m-3" role="button"  routerLink="./{{request.properties.id}}">
            <h4 class="card-title m-2">Requisition ID: {{ request.properties.id }}</h4>            
            <div class="card-body m-2">
                @for (field of requestFields; track field[1]) {
                    <div class="input-group">
                        <p class="input-group-text w-50">{{ field[0] }}</p>
                        <p class="input-group-text w-50">{{ request.properties[field[1]] }}</p>
                    </div>
                }
            </div>
        </div>
    }
</div>