<div class="d-flex-column">
    <h1>Open Requests</h1>
    @for (request of myRequests; track request.properties.id) {
        <div class="card m-2 col-12 col-md-8 col-lg-5 border-2 border-dark-subtle">
            <h4 class="card-title m-2">Requisition ID: {{ request.properties.id }}</h4>            
            <div class="card-body m-2">
                <div class="input-group">
                    <p class="input-group-text w-50">Date requested: </p>
                    <p class="input-group-text w-50">{{ request.properties.requisitionDate }}</p>
                </div>
                <div class="input-group">
                    <p class="input-group-text w-50">Status: </p>
                    <p class="input-group-text w-50">{{ request.properties.statusText }}</p>
                </div>
                <div class="input-group">
                    <p class="input-group-text w-50">Purpose of requisition: </p>
                    <p class="input-group-text w-50">{{ request.properties.purpose }}</p>
                </div>
                <div class="input-group">
                    <p class="input-group-text w-50">Aliquots requested: </p>
                    <p class="input-group-text w-50">{{ request.properties.numberOfAliquots }}</p>
                </div>
            </div>
        </div>
    }
</div>