<p>Items in Cart</p>
@for (item of cartSvc.cart | keyvalue; track item.key) {
    @if (aliquotSvc.availableAliquotGroups) {
        <div>
            <label>{{ item.key }}</label>
            <input 
                type="number" 
                [(ngModel)]="cartSvc.cart[item.key]" 
                (ngModelChange)="quantityChangeVerification(item.key, $event)" min="1" 
                [max]="aliquotSvc.availableAliquotGroups[item.key].length"
            >
            <button (click)="removeCartItem(item.key)">remove</button>        
        </div>
    }    
}
<button routerLink="./checkout">Checkout</button>