<div class="col-12 col-md-9 col-lg-6">
    <h4 class="p4">Create a new Requisition</h4>
    <h5>Selected Aliquots:</h5>
    <div class="ms-5">
        @for (item of cartSvc.cart | keyvalue; track item.key) {
            <div class="input-group w-50">
                <span class="input-group-text w-100">
                    <img class="me-2" style="width: 30px;" [src]="iconSvc.getIcon(item.key)">
                    {{ item.key + ":          " + item.value }}
                </span>
            </div>
        }
    </div>
    <h5>Shipping/Contact Info:</h5>
    <form (submit)="submitRequisition()">
        @for (field of formFields; track field[0]) {
            <div class="input-group border rounded border-2 border-dark-subtle m-2">
                <span class="input-group-text col-5 col-md-4 col-lg-3">{{ field[1] }}</span>
                <input 
                    type="text" 
                    class="form-control border-2 border-dark-subtle"
                    [id]="field[0] + 'Input'"
                    [name]="field[1]" 
                    [(ngModel)]="requisition.customShipToAddress[field[0]]"
                    required 
                >  
            </div>
        }
        <button 
            type="submit" 
            class="btn btn-dark btn-lg mt-5 float-end fs-4"
            name="Submint Requisition"
            id="reqSubmit"
        >
        Submit Requisition
        </button>
    </form>
</div>