.tileContainer{
    border: solid;
    border-radius: 15px;
    border-width: 2px;
    width: 200px;
    height: 200px;
    margin: 50px;
}
.tileInfo{
    display: list-item;
    list-style-type: none;
}